<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>메인</title>
    <th:block th:include="common/head"></th:block>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
 <div>
     <th:block th:include="common/navbar"></th:block>
     <th:block th:include="common/sidebar"></th:block>
     메인테스트중
 </div>
</div>
    <th:block th:include="common/footer"></th:block>
    <script>
        function isMobile(){
            var UserAgent = navigator.userAgent;
            if (UserAgent.match(/iPhone|iPod|Android|Windows CE|BlackBerry|Symbian|Windows Phone|webOS|Opera Mini|Opera Mobi|POLARIS|IEMobile|lgtelecom|nokia|SonyEricsson/i) != null || UserAgent.match(/LG|SAMSUNG|Samsung/) != null)
            {
                return true;
            } else {
                return false;
            }
        }
        if(isMobile()){
            location.href = "/mobile/test1.do";	//모바일페이지
        } else {
            location.href = "/";		//PC용 페이지
        }
    </script>
</body>
</html>