<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>공지사항</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header class="header">
  <th:block th:include="common/navbar"></th:block>
  <th:block th:include="common/sidebar"></th:block>
  <style>
        table{
            margin: 0 auto;
        }
        .btn-block {
          display: block;
          width: 10%;
          width: 160px;
        }
    </style>
</header>
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">공지사항 목록</h3>
              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-default">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                <tr>
                  <th>글번호</th>
                  <th>제목</th>
                  <th>작성일</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notice, status : ${noticeList}">
                  <td th:text="${status.count}"></td>
                  <td>
                    <a th:href="@{notice/detail(notiNo=${notice.notiNo})}" th:text="${notice.title}"></a>
                  </td>
                  <td th:text="${notice.resdate}"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
      <div class="button-group">
        <a class="btn btn-block btn-primary" th:href="@{/notice/insert}">글 작성하기</a>
      </div>
    </div>
  </section>
</div>
<th:block th:include="common/footer"></th:block>
</body>
</html>