<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>공지사항</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<header class="header">
  <th:block th:include="common/navbar"></th:block>
  <th:block th:include="common/sidebar"></th:block>
  <style>
    table {
      margin: 0 auto;
    }
  </style>
</header>
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="card card-primary">
        <div class="card-header">
          <h2>공지사항 자세히보기</h2>
        </div>
        <div class="card-body table-responsive">
          <table class="table table-hover text-nowrap">
            <tbody>
            <tr>
              <th>글번호</th>
              <td th:text="${dto.notiNo}"></td>
            </tr>
            <tr>
              <th>글제목</th>
              <td th:text="${dto.title}"></td>
            </tr>
            <tr>
              <th>글내용</th>
              <td th:text="${dto.content}"></td>
            </tr>
            <tr>
              <th>작성자</th>
              <td th:text="${dto.author}"></td>
            </tr>
            <tr>
              <th>작성일</th>
              <td th:text="${dto.resdate}"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="button-group">
          <a class="btn btn-block btn-primary" th:href="@{/notice/edit(notiNo=${dto.notiNo})}">글 수정하기</a>
          <a class="btn btn-block btn-warning" th:href="@{/notice/delete(notiNo=${dto.notiNo})}">글 삭제하기</a>
          <a class="btn btn-block btn-danger" th:href="@{/notice/list}">글 목록으로이동</a>
        </div>
      </div>
    </div>
  </section>
</div>
<th:block th:include="common/footer"></th:block>
</body>
</html>