<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body class="hold-transition sidebar-mini layout-fixed">
<header class="header">
    <th:block th:include="common/navbar"></th:block>
    <th:block th:include="common/sidebar"></th:block>
    <style>
        table{
            margin: 0 auto;
        }
    </style>
</header>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h2>공지사항 작성하기</h2>
                </div>
                <div class="card-body">
                    <form action="/notice/insert" method="post" name="insert" id="insert">
                        <div class="row">
                            <table>
                                <tbody>
                                <tr>
                                    <th>글 제목</th>
                                    <td>
                                        <input type="text" class="form-control" placeholder="제목입력" maxlength="90" id="title" name="title" required>
                                    </td>
                                </tr>
                                <tr>
                                    <th>글 내용</th>
                                    <td>
                                        <textarea placeholder="내용입력" class="form-control" rows="10" cols="10" maxlength="1000" id="content" name="content" required></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <input type="submit" class="btn btn-block btn-primary" value="등록">
                                        <a class="btn btn-block btn-danger" th:href="@{/notice/list}">글 목록</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<footer class="footer">
    <th:block th:include="common/footer"></th:block>
</footer>
</html>